.mtn-h-screen{
    min-height: 100vh;
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin: 0 auto;
}
.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
 }
.flex-col{
    flex-direction: column;
}
.font-bold{
    font-weight: bolder;
}
.my-1{
    margin-top: 13px;
    margin-bottom:13px;
}
.my-2{
    margin-top: 26px;
    margin-bottom:26px;
}
.px-2{
    padding-left: 13px;
    padding-top: 13px;
}
.text-blue{
    color: rgb(103, 103, 181);
}
.btn{
    padding:8px 12px ;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: rgb(103, 103, 181);
}
.overflow-hidden{
    width: 36vw;
    height: 74vh;
    border-radius: 23px;
}
.text-center{
    text-align: center;
}
